{% extends "_base.j2" %}

{% set profile_link = "https://plus.google.com/" %}

{% macro format(text, formats) %}
  {%- if formats.bold %}<b>{% endif -%}
  {%- if formats.italic %}<i>{% endif -%}
  {%- if formats.strikethrough %}<del>{% endif -%}
  {{ text }}
  {%- if formats.strikethrough %}</del>{% endif -%}
  {%- if formats.italic %}</i>{% endif -%}
  {%- if formats.bold %}</b>{% endif -%}
{% endmacro %}

{% macro thumb(image) %}
  <a href="{{ image }}">
    <img src="{{ image.replace("/s0/", "/s400-c/") }}" style="width: 200px;">
  </a>
{% endmacro %}

{% macro attachments(post) %}
  {% if post.image %}
    <p>
      {{ thumb(post.image.proxy) }}
    </p>
  {% endif %}
  {% if post.images %}
    <p>
      {% for image in post.images %}
        {{ thumb(image.proxy) }}
      {% endfor %}
    </p>
  {% endif %}
  {% if post.link %}
    <div class="box">
      <a href="{{ post.link.url }}">{{ post.link.title }}</a>
      <br>
      {{ post.link.description or "" }}
    </div>
  {% endif %}
{% endmacro %}

{% macro render(post, parent=none) %}
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ post.author.image }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            {% if parent %}Originally posted by{% endif %}
            <a href="{{ profile_link }}{{ post.author.id }}">{{ post.author.name }}</a>
          </strong>
          <small>{{ post.createdAt }}</small>
          {% if "isPublic" in post %}
            {% if post.publicId %}
              <a href="{{ profile_link }}{{ post.publicId[0] }}/posts/{{ post.publicId[1] }}">
            {% endif %}
            {{ "Public" if post.isPublic else "Private" }}
            {% if post.publicId %}
              </a>
            {% endif %}
          {% endif %}
        </p>
        <p>
          {% if post.message|length == 1 and post.message[0][0] == 2 and
                ".googleusercontent.com/" in post.message[0][1] and
                post.message[0][2].startswith("https://plus.google.com/photos/") %}
            {{ thumb(post.message[0][1]) }}
          {% else %}
            {% set ns = namespace(segments=post.message) %}
            {% for segment in post.message %}
              {% if segment[0] == 0 and segment[1].startswith("Originally shared by ") and post.reshare %}
                {% if loop.index == 1 %}
                  {% set ns.segments = [] %}
                {% else %}
                  {% set ns.segments = post.message[:loop.index - 2] %}
                {% endif %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% for segment in ns.segments -%}
              {%- if segment[0] == 0 -%}
                {{ format(segment[1], segment[-1]) }}
              {%- elif segment[0] == 1 -%}
                <br>
              {%- elif segment[0] == 3 -%}
                <a href="{{ profile_link }}{{ segment[2] }}">{{ format("+" + segment[1], segment[-1]) }}</a>
              {%- elif segment[0] in [2, 4] -%}
                <a href="{{ segment[2] }}">{{ format(segment[1], segment[-1]) }}</a>
              {%- endif -%}
            {%- endfor %}
          {% endif %}
        </p>
        {% if post.reshare %}
          <div class="box">
            {{ render(post.reshare, post) }}
          </div>
        {% elif parent %}
          {{ attachments(parent) }}
        {% else %}
          {{ attachments(post) }}
        {% endif %}
      </div>
      {% for reply in post.comments %}
        {{ render(reply) }}
      {% endfor %}
    </div>
  </article>
{% endmacro %}

{% block title %}Google+ export{% endblock %}

{% block main %}
  {% for acc in content.accounts %}
    {% for comm in acc.communities %}
      {% call section("success") %}
        <h1 class="title">{{ comm.name }}</h1>
        <h2 class="subtitle">{{ comm.tagline }}</h2>
      {% endcall %}
      {% call section() %}
        {% set posts = [] %}
        {% for cat in comm.categories %}
          {% do posts.extend(cat.posts) %}
        {% endfor %}
        {% for post in posts|sort(attribute="createdAt", reverse=true) %}
          <div class="box">
            {{ render(post) }}
          </div>
        {% endfor %}
      {% endcall %}
    {% endfor %}
  {% endfor %}
{% endblock %}
